.card{
    position: relative;
    width: 340px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    border: 2px solid white;
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
    text-align: center;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}